<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>550</integer>
		<key>capHeight</key>
		<integer>400</integer>
		<key>descender</key>
		<integer>-100</integer>
		<key>familyName</key>
		<string>Mirko</string>
		<key>guidelines</key>
		<array>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>SpddN9sQHl</string>
				<key>x</key>
				<integer>176</integer>
				<key>y</key>
				<integer>500</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>5XE4EimvA6</string>
				<key>x</key>
				<integer>245</integer>
				<key>y</key>
				<integer>250</integer>
			</dict>
		</array>
		<key>openTypeHheaAscender</key>
		<integer>450</integer>
		<key>openTypeHheaDescender</key>
		<integer>-100</integer>
		<key>openTypeHheaLineGap</key>
		<integer>0</integer>
		<key>openTypeNameDesigner</key>
		<string>Daniel Weiand</string>
		<key>openTypeNameDesignerURL</key>
		<string>ddaanniiieeelll.com</string>
		<key>openTypeNameManufacturer</key>
		<string>Daniel Weiand</string>
		<key>openTypeNameManufacturerURL</key>
		<string>ddaanniiieeelll.com</string>
		<key>openTypeNameRecords</key>
		<array>
		</array>
		<key>openTypeOS2TypoAscender</key>
		<integer>900</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-100</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>-450</integer>
		<key>openTypeOS2WinAscent</key>
		<integer>450</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>100</integer>
		<key>postscriptBlueValues</key>
		<array>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptOtherBlues</key>
		<array>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
		</array>
		<key>styleMapFamilyName</key>
		<string>Mirko</string>
		<key>styleMapStyleName</key>
		<string>regular</string>
		<key>styleName</key>
		<string>Regular</string>
		<key>unitsPerEm</key>
		<integer>550</integer>
		<key>versionMajor</key>
		<integer>0</integer>
		<key>versionMinor</key>
		<integer>1</integer>
		<key>xHeight</key>
		<integer>300</integer>
	</dict>
</plist>
